// Custom styles.

// Colors
// colors for use across theme.
// --------------------------------------------------
$gainsboro = #eee
$blue-bright = #87daff

// Code & Code Blocks
// --------------------------------------------------
$code-foreground = $blue-bright
$code-background = $black-deep